.img-logo{
  width: 40%;
  height: auto;
  margin: auto;
  background-repeat: no-repeat;  
  background-size: 100% 100%;
}

.nagoyameshi-navbar{
  background-image: url('../img/header.png'); 
}

.nagoyameshi-login-input {
  border-radius: 2px;
  border: solid 1px #eee7b19f;
  background-color: #ffffff;
}

.nagoyameshi-check-label {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.nagoyameshi-require-input-label {
  border-radius: 1px;
  background-color: #ae2e3da1;
}

.nagoyameshi-require-input-label-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.nagoyameshi-submit-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  background-color: rgb(195, 167, 11);
}

.nagoyameshi-submit-button:hover {
  color: rgb(195, 167, 11);
}

.nagoyameshi-login-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(195, 167, 11);
}

.nagoyameshi-store-flame{
  display:  inline-block;
  vertical-align: top;
  text-align: center;
  vertical-align:  middle; 
  margin:10px;
  padding: 5px 20px;
  width: 30%;
  height: 19%;
  background-color:rgba(220, 189, 109, 0.477);

}

.nagoyameshi-store-name{
  text-align: center;
  white-space: pre-wrap;
}

.nagoyameshi-store-category{
  display: flex;
  white-space: nowrap;
  width: 50%;
}

.nagoyameshi-store-description{
  text-align: left;
  white-space: pre-wrap;
}

.img-thumbnail{
  border: 1px solid #ddd;
  width: 80%;
  height: 20rem;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}

.img-thumbnail img{
  width: 100%;
  transition-duration: 0.5s;
}

.img-thumbnail:hover{
  transform: scale(1.05);
  transition-duration: 0.5s;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('../img/top.png');  
  background-repeat: no-repeat;  
  background-size: cover;
 }
 
 
